* {
    box-sizing: border-box;
}

body {
    background: #283470 url(bg.jpg) center center no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    color: #15A29C;
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

h1 {
    font-family: 'Montserrat', serif;
    font-size: 56px;
    margin-top: 0;
}

a { color: #15A29C; }
a:hover { color: #fafafa; }

.container {
    height: 100vh;
    padding: 20px;
    background-color: #0e1229;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}
